*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 42px;
    font-family: sans-serif;
}

.container{
    max-width: 600px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.row{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    flex-grow: 1;
}
.row.output{
    padding: 20px;
    background-color: #f3f3f3;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid black;
    cursor: pointer;
}
.item:hover{
    background-color: #d3d3d3;
}
.item.form:hover{
    background-color: #f3f3f3;
}

.wraper{
    display: flex;
    width: 100%;
    background-color: #f3f3f3;
}

.inputForForm{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
    border:2px solid black;
    border-radius: 20px;
    font-size: 52px;
    width: 100%;
    min-height: 90px;
    text-align: right;
}